<form [formGroup] ='form' novalidate>
    <mat-form-field>
        <mat-label>Blood glucose level ( in mg/dL) </mat-label>
        <input matInput [formControl] = 'form.controls.glucose' min="0" step="0.01" type="number" placerholder="Blood glucose level">
        <mat-error *ngIf='form.controls.glucose.errors?.required && form.controls.glucose.touched'>Required</mat-error>
        <mat-error *ngIf='form.controls.glucose.errors?.min && form.controls.glucose.touched'>Must be not negative</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [formControl] = 'form.controls.date' [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf='form.controls.date.errors?.required && form.controls.date.touched'>Required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Time measured</mat-label>
        <input matInput [formControl] = 'form.controls.time' type="text" placerholder="Time measured">
        <mat-error *ngIf='form.controls.time.errors?.required && form.controls.time.touched'>Required</mat-error>
        <mat-error *ngIf='form.controls.time.errors?.pattern && form.controls.time.touched'>Must be in format hh::mm</mat-error>
    </mat-form-field>
    <div mat-dialog-actions class="button">
        <button type="submit" mat-flat-button color="primary"  (click)="onSubmit()">Submit</button>
        <button type="button" mat-flat-button color="standard" [mat-dialog-close]="false" >Cancel</button>
    </div>
</form>
