<div class="base-container">
    <form *ngIf="account_type=='';else create">
        <mat-card>
            <mat-card-title> Select account type </mat-card-title>
            <mat-card-content>
                <div class="button">
                    <button mat-flat-button color="primary" (click)='account_type="patient"'>Patient</button>
                    <button mat-flat-button color="primary" (click)='account_type="doctor"'>Doctor</button>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
    <ng-template #create>
        <form [formGroup]='form' (ngSubmit)='onSubmit()' novalidate>
            <mat-card>
                <mat-card-title>Account creation</mat-card-title>
            <mat-content>
                    <mat-form-field>
                        <input type="text" formControlName="firstName" matInput placeholder="First name">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" formControlName="lastName" matInput placeholder="Last name">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="email" formControlName="email" matInput placeholder="Email">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" formControlName="password" matInput placeholder="Password">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" formControlName="passwordConfirm" matInput placeholder="Confirm password">
                    </mat-form-field>
                    <div>
                        <button type="submit" mat-flat-button color="primary" >Create account!</button>
                        <button type="button " mat-flat-button >Clear form</button>
                    </div>
                    <div *ngIf='error' class="error"> {{ error.description }} </div>
            </mat-content>
            </mat-card>
        </form>
    </ng-template>
    <ng-template #spin>
        <div class='spinner-border text-primary d-block mx-auto my-3' role='status'></div>
    </ng-template>