form{
    display:flex;
    justify-content: center;
    width:100%;
    margin: 10vh 0;
}
mat-card{
    max-width: 80%;
}
mat-card-title{
    display:flex;
    justify-content: center;
}
mat-content{
    display:flex;
    width:100%;
    max-width:960px;
    flex-direction:column;
    justify-content: center;
    overflow-y:hidden;
}
mat-form-field{
    min-width:300px;
    margin:5px;
}
div.button{
    display:flex;
    justify-content: center;
}
button{
    margin: 20px;
    flex-grow: 1;
}
.buttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
}