<div class="row alert alert-link">
    <div>
        <span class="px-2"> Carb intake (average): 120 <i>g</i> </span>
    </div>
    <div class="row px-2">
        <span class="fs-6 text-muted pe-1"> in the last 30 days</span>
        <i class="fake-link bi bi-gear-fill"></i>
    </div>
    <div>
        <form>
            <div class="btn-group">
                <button type="button">Last week</button>
                <button type="button">Last month</button>
            </div>
        </form>
    </div>
</div>