<div class="container">
    <div class="row mt-3">
        <div class="card">
            <div *ngIf='patient; else spin'class="card-body">
                <h5 class="card-title"> {{ patient.name }} </h5>
                <h6 class="card-subtitle">Patient</h6>
                <h6>Consulting doctor: {{ patient.doctor!='' ? patient.doctor: "None" }} </h6>
                <a href="mailto:{{ patient.name }}" class="card-link">{{ patient.email}}</a>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Quick links</h6>
                <div>
                    <a href="#">Submit medical data</a>
                </div>
                <div>
                    <a href="#">View current consultation</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="card">
            <div class="card-body">
                <sacchon-avg-item desc='Glucose level (Avg):' unit="mg/ld" #glucose (onChange)="getAvg('glucose',$event,glucose)"></sacchon-avg-item>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="card">
            <div class="card-body">
                <sacchon-avg-item desc='Carb intake (Avg):' unit="g" #carb (onChange)="getAvg('carb',$event,carb)"></sacchon-avg-item>
            </div>
        </div>
    </div>
</div>

<ng-template #spin>
    <div #spin class='spinner-border text-primary d-block mx-auto my-3' role='status'></div>
</ng-template>