<mat-card>
    <mat-card-title> Overview </mat-card-title>
    <mat-card-content>
        <div class="overview">
            <div class="overview-item">
                <p> <span class="leader">First name:</span><span>{{ patient?.firstName }}</span></p>
            </div>
            <div class="overview-item">
                <p> <span class="leader">Last name:</span><span>{{ patient?.lastName }}</span></p>
            </div>
            <div class="overview-item">
                <p> <span class="leader">Consultant:</span><span>{{ patient?.doctor?patient.doctor:'None' }}</span></p>
            </div>
            <div class="overview-item">
                <p> <span class="leader">Email:</span><a href="mailto:{{patient?.email}}">{{ patient?.email }}</a></p>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title> Quick links </mat-card-title>
    <mat-card-content>
        <div class="overview">
            <div class="overview-item">
                <a routerLink="/patient/carb/add">Submit carb intake record</a>
            </div>
            <div class="overview-item">
                <a routerLink="/patient/glucose/add">Submit glucode level measurement</a>
            </div>
            <div class="overview-item">
                <a routerLink="/patient/consultation">See latest consultation</a>
            </div>
            <div class="overview-item">
                <a routerLink="/settings">View account settings</a>
            </div>
        </div>
    </mat-card-content>
</mat-card>