<mat-card>
    <mat-card-title>Doctor Advice</mat-card-title>
    <mat-card-content>
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Doctors ( Consultations )" >
                <form [formGroup]='form'>
                    <mat-form-field>
                        <mat-label>Search for doctor by email</mat-label>
                        <input type="text" [formControl]='form.controls.search' matInput placeholder="Doctor email">
                        <mat-error *ngIf='form.controls.search.errors?.required && form.controls.search.touched'>
                            Required </mat-error>
                    </mat-form-field>
                    <div class="button">
                        <button mat-flat-button color="primary" (click)='onSearch()'>Search</button>
                    </div>
                </form>
                <ng-container *ngIf='curDoctor'>
                    <h2> Consultations </h2>
                    <div class="patient-info">
                        <span> <span class="bold">Doctor</span>: {{ curDoctor?.fullName }} ( <a
                                href="mailto:{{curDoctor?.email}}">{{curDoctor?.email}}</a> )</span>
                    </div>
                    <div class="date-range">
                        <mat-form-field appearance="standard" matTooltip="Leave empty for all time average"
                            [matTooltipShowDelay]="1000">
                            <mat-label>Date range</mat-label>
                            <mat-date-range-input #dateRange [rangePicker]="picker">
                                <input matStartDate placeholder="Start date">
                                <input matEndDate placeholder="End date" (dateInput)="onDateChange(dateRange.value)">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                            <button mat-icon-button matSuffix (click)='picker.select(null)'>
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div>
                    <sacchon-fieldtable [records]='doctorRecords' [definitions]='doctorFields' [hasReached]='doctorSupplier.reached'
                        (onLoadMore)='doctorSupplier.getMore()' [hasActions]='false' [hasAdd]='false'>
                    </sacchon-fieldtable>

                    </div>
                </ng-container>
            </mat-tab>
            <mat-tab label="Patients pending (Consultation)">
                <ng-container class="m-top">

                    <sacchon-fieldtable [records]='patientRecords' [definitions]='patientFields' [hasReached]='patientSupplier.reached'
                        (onLoadMore)='patientSupplier.getMore()' [hasActions]='false' [hasAdd]='false'>
                    </sacchon-fieldtable>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>