mat-card{
    margin:10px;
}

.tab-row{
    display:flex;
    flex-direction:row;
    width:100%;
}
.tab-column {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}

.tab-column div {
    margin-right: 30px;
    white-space:nowrap;
}
.m-top{
    margin-top: 20px;
}
.p-top-10{
    padding-top:12px;
}
.tab-row-end{
    justify-content: flex-end;
}