<mat-card>
    <mat-card-title> Medical Data </mat-card-title>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab class="overview" label="Overview">
                <div class="overview-column m-top">
                    <div class="overview-row">
                        <span class="bold">Total submissions</span>: {{ carbCount + glucoseCount}} ( {{carbCount}} carbs, {{glucoseCount}} glucose )
                    </div>
                    <div class="overview-row">
                        <div class="overview-column">
                            <div class="mat-h3 p-top-10"><span class="bold">Blood glucose level (Average): </span>{{glucoseAverage.toFixed(2)}} mg/dL </div>
                            <div class="mat-h3 p-top-10"><span class="bold">Carb intake (Average): </span>{{carbAverage.toFixed(2)}} mg/dL </div>
                        </div>
                        <div class="overview-column">
                            <mat-form-field appearance="standard">
                                <mat-date-range-input #glucoseRange [rangePicker]="pickerGlucose" color="primary">
                                    <input matStartDate #g1 placeholder="Start date">
                                    <input matEndDate #g2 placeholder="End date" (dateInput) = "glucoseChange(glucoseRange.value)">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="pickerGlucose"></mat-datepicker-toggle>
                                <mat-date-range-picker #pickerGlucose></mat-date-range-picker>
                                <button mat-icon-button matSuffix (click)='pickerGlucose.select(null)'><mat-icon>close</mat-icon></button>
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-date-range-input #carbRange [rangePicker]="pickerCarb">
                                    <input matStartDate placeholder="Start date">
                                    <input matEndDate placeholder="End date" (dateInput) ="carbChange(carbRange.value)">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="pickerCarb"></mat-datepicker-toggle>
                                <mat-date-range-picker #pickerCarb></mat-date-range-picker>
                                <button mat-icon-button matSuffix (click)='pickerCarb.select(null)'><mat-icon>close</mat-icon></button>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Carb intake">
            </mat-tab>
            <mat-tab label="Blood glucose levels"></mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>