mat-card {
  margin: 10px;
}

.tab-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.tab-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tab-column mat-form-field {
  margin-left: 20px;
  margin-bottom: 20px;
}

.tab-column div {
  white-space: nowrap;
}
.m-top {
  margin-top: 10px;
}
.m-top-2 {
  margin-top: 20px;
}
.tab-end {
  justify-content: flex-end;
}

.tab-center {
  justify-content: center;
}
