<mat-card>
    <mat-card-title> Medical Data </mat-card-title>
    <mat-card-content>
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Overview">
                <div class="tab-column m-top-2">
                    <div class="tab-row tab-center">
                        <span class="bold">Total submissions</span><span *ngIf="!countLoading;else spin">: {{ (carbCount
                            + glucoseCount)}} ( {{carbCount}} carbs, {{glucoseCount}} glucose )</span>
                    </div>
                    <div class="tab-row tab-center m-top">
                        <div class="tab-column">
                            <div class="mat-h3 p-top-10"><span class="bold">Carb intake (Average): </span><span
                                    *ngIf="!carbAvgLoading;else spin">{{carbAverage.toFixed(2)}} gram</span> </div>
                        </div>
                        <div class="tab-column m-date">
                            <mat-form-field appearance="standard" matTooltip="Leave empty for all time average"
                                [matTooltipShowDelay]="1000">
                                <mat-date-range-input #carbRange [rangePicker]="pickerCarb">
                                    <input matStartDate placeholder="Start date">
                                    <input matEndDate placeholder="End date" (dateInput)="carbChange(carbRange.value)">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="pickerCarb"></mat-datepicker-toggle>
                                <mat-date-range-picker #pickerCarb></mat-date-range-picker>
                                <button mat-icon-button matSuffix (click)='pickerCarb.select(null)'>
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="tab-row tab-center">
                        <div class="tab-column">
                            <div class="mat-h3 p-top-10"><span class="bold">Blood glucose level (Average): </span><span
                                    *ngIf="!glucoseAvgLoading;else spin">{{glucoseAverage.toFixed(2)}} mg/dL</span>
                            </div>
                        </div>
                        <div class="tab-column m-date">
                            <mat-form-field appearance="standard" matTooltip="Leave empty for all time average"
                                [matTooltipShowDelay]="1000">
                                <mat-date-range-input #glucoseRange [rangePicker]="pickerGlucose" color="primary">
                                    <input matStartDate #g1 placeholder="Start date" >
                                    <input matEndDate #g2 placeholder="End date"
                                        (dateInput)="glucoseChange(glucoseRange.value)">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="pickerGlucose"></mat-datepicker-toggle>
                                <mat-date-range-picker #pickerGlucose></mat-date-range-picker>
                                <button mat-icon-button matSuffix (click)='pickerGlucose.select(null)'>
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab class="tab" label="Carb intake">
                <div class="tab-row m-top tab-end">
                    <button type="button" mat-button color="primary" (click)="onAddDialog()">New</button>
                    <button type="button" mat-button color="accent">Modify</button>
                    <button type="button" mat-button color="warn">Delete</button>
                </div>
                <div class="tab-row">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

                        <ng-container matColumnDef="checkbox">
                          <th mat-header-cell *matHeaderCellDef> </th>
                          <td mat-cell *matCellDef="let element"> {{element.checkbox}} </td>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="Carb intake">
                          <th mat-header-cell *matHeaderCellDef></th>
                          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>
                      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="Date">
                          <th mat-header-cell *matHeaderCellDef> Date</th>
                          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </div>
            </mat-tab>
            <mat-tab label="Blood glucose levels"></mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
<ng-template #spin>
    <span> loading..</span>
</ng-template>