mat-sidenav {
    display:flex;
    flex-direction:column;
}
mat-sidenav a {
    padding:5px;
    width:109%;
    border-right:none;
    border-radius:10px;
    padding:12px;
    text-align: center;
    background: var(--color-primary);
}

:host{
    height:100%;
}

mat-sidenav-container{
    height:100vh;
    margin-right: 10px;
    overflow-y:hidden;
}
