.home-container {
     height: 100vh;
}

.dark-theme {
    background-color: lightgray;
    // color: white !important;
}

.light-theme {
    background-color: honeydew;
}

.outlet {
    flex-grow : 1;
}