html, body {
    height: 100%;
  }
  
.home-container {
     height: 100vh;
}

.dark-theme {
    background-color: lightgray;
    // color: white !important;
}

.light-theme {
    background-color: honeydew;
}
