
<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <h2>Patients without Consultation</h2>
        <div class="row">
          <div class="col-xs-6">
          </div>
          <!-- <button (click)="goToPage('Patient')"> edit patient   </button> -->
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let patient of this.patients" >
          <td>{{patient.firstName}}</td>
          <td>{{patient.lastName}}</td>
          <td>{{patient.email}}</td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="setPatient(patient.id, patient.firstName, patient.lastName)">
               Add Consultation
            </button>

        </tr>
        <div class="modal fade" id="exampleModal" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >New Consultation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form [formGroup]="patientForm">
                <form  class="alert alert-secondary" >
                  <div class="form-group">
                    <label for="id">Id</label>
                    <input name="id" id="id" type="text" class="form-control" [value]= "patientId" >
                  </div>
                  <div class="form-group">
                    <label for="fname">First Name</label>
                    <input name="name" id="fname" type="text" class="form-control" [value]= "patientFirstName" #newName>
                  </div>
                  <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input name="name" id="lname" type="text" class="form-control" [value]= "patientLastName" #newName>
                  </div>
                  <div class="form-group">
                    <label for="consultation"> New Consultation</label>
                    <input name="consultation" id="consultation" type="text" class="form-control" formControlName="consultation" #newConsultation>
                  </div>
                </form>
              </form>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                <button class="btn btn-primary"(click)="addConsultationToPatient()"> Save </button>
              </div>
            </div>
          </div>
        </div>
        </tbody>
      </table>

    </div>
  </div>
</div>






<!-- <div class="container">
  <div class="row mt-3">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title"> {{ auth.user.firstName }} {{ auth.user.lastName }} </h5>
              <h6 class="card-subtitle">Patient</h6>
              <h6>Consulting doctor: None</h6>
              <a href="mailto:{{ auth.user.email }}" class="card-link">{{ auth.user.email }}</a>
          </div>
      </div>
  </div>
  <div class="row mt-1">
      <div class="card">
          <div class="card-body">
              <h6 class="card-title">Quick links</h6>
              <div>
                  <a href="#">Submit consultation</a>
              </div>
              <div>
                  <a href="#">View patient consultation</a>
              </div>
          </div>
      </div>
  </div>
  <div>
      <h1>Patients without consultation</h1>
      <table>
          <tr *ngFor="let patient of patients" class="col ms-6">
              <td>
                  {{patient.firstName}}
                  <td>
                      {{patient.lastName}}
                      <td>
                          <a href=#patientModal data-toggle="modal" class="btn btn-success"(click)="addConsultation()">Add consultation</a>
                      </td>

      </table>
  </div>
  <div class="row border mt-1" id="patientModal" class = "modal fade">
      <div class="modal-dialog">


          <h1>Patients</h1>
          <div>
              <table>
                  <tr *ngFor="let patient of patients">
                      <td >
                          <a href="javascript:;"(click)="onClickPatient(patient)">{{patient.name}} {{patient.consultation}}</a>
                       </td>
                  </tr>

              </table>

          </div>
          <form class class="alert alert-secondary" >
              <div class="form-group">
                  <label for="id">Id</label>
                  <input name="id" id="id" type="text" class="form-control" #newId>
              </div>
              <div class="form-group">
                  <label for="name">Name</label>
                  <input name="name" id="name" type="text" class="form-control" #newName>
              </div>
              <div class="form-group">
                  <label for="consultation"> New Consultation</label>
                  <input name="consultation" id="consultation" type="text" class="form-control"  #newConsultation>
              </div>

              <button class="btn btn-primary"(click)="addConsultation()">New Consultation</button>
          </form>
      </div>
  </div>
</div> -->

