<div class="container-fluid">
    <div class="row">
        <div class="col col-md-3 col-lg-3 m-auto">
            <form [formGroup]="form" (ngSubmit) = 'onSubmit()'class="my-5" novalidate >
                <div class="form-group">
                    <label for="usr">Username</label>
                    <input formControlName='usr' id="usr" type="text" class="form-control" [class.is-invalid]='form.controls.usr.invalid' placeholder="Enter username">
                </div>
                <div class="form-group mt-2">
                    <label for="pwd">Password</label>
                    <input formControlName='pwd' id="pwd" type="password" class="form-control" [class.is-invalid]='form.controls.pwd.invalid' placeholder="Enter password">
                </div>
                <div *ngIf='loggingIn' class='spinner-border text-primary d-block mx-auto my-3' role='status'></div>

                <div *ngIf='!loggingIn' class="mt-3">
                    <button type='submit' class='form-control btn btn-primary'>Sign in</button>
                    <p class='pt-1'>Don't have an account? <a routerLink='./signup'>Create one!</a></p>
                </div>
            </form>
            <div *ngIf='error' class='alert alert-danger'> {{ error.message }} </div>
        </div>
    </div>
</div>