/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.base-container{
    display:flex;
    justify-content: center;
}


.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}